fastapi
uvicorn
httpx
python-dotenv
python-telegram-bot==21.6

# Core LangChain ecosystem
langchain==0.2.11
langchain-community
langchain-huggingface
langchain-pinecone

# Vector DBs + LLMs
pinecone-client
openai
tqdm
